{
  "semi": false,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "printWidth": 80,
  "useTabs": false,
  "bracketSpacing": true,
  "bracketSameLine": false,
  "arrowParens": "avoid",
  "endOfLine": "lf",
  "htmlWhitespaceSensitivity": "ignore",
  "vueIndentScriptAndStyle": true,
  "singleAttributePerLine": false,
  "overrides": [
    {
      "files": "*.vue",
      "options": {
        "parser": "vue",
        "printWidth": 100,
        "htmlWhitespaceSensitivity": "ignore"
      }
    },
    {
      "files": "*.{js,ts,jsx,tsx}",
      "options": {
        "printWidth": 100
      }
    }
  ]
}
